# Copy this file to /opt/pearl/config/prod/portal.env on the VPS.
NODE_ENV=production
BACKEND_URL=https://app.pearl-polymer.com
NEXT_PUBLIC_OFFICE_URL=https://portal.pearl-polymer.com
NEXT_PUBLIC_ADMIN_URL=https://admin.portal.pearl-polymer.com
